<%= render 'shared/errors', obj: @user %>

<div class="login-page">
  <div class="form">
    <%= form_for(@user, :html => {class: "register-form", role: "form"}) do |f| %>
      <%= f.text_field :first_name, class: "form-input", placeholder: "Enter First Name", autofocus: true %>
      <%= f.text_field :last_name, class: "form-input", placeholder: "Enter Last Name", autofocus: true %>
      <%= f.text_field :username, class: "form-input", placeholder: "Enter Username", autofocus: true %>
      <%= f.email_field :email, class: "form-input", placeholder: "Enter Email" %>
      <%= f.password_field :password, class: "form-input", placeholder: "Enter Password" %>
      <%= f.submit(@user.new_record? ? "Sign Up" : "Update Profile", class: 'form-button') %>
      <p class="message">Already registered? <a href="/login">Log In</a></p>
    <% end %>
  </div>
</div>